/* 

background: 4EA0FF; /blue
background: B1E5F2; /light blue
background: FFFF00; /yellow
background: 69C5ED; /light blue text
background: 868686; /light grey text

*/

#container {
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    padding: 20px;
}

#logo {
    height: 60px;
    margin-top: 80px;
}

#title {
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}



.grey_text {
    color:#868686;
    font-size: 25px;
}

.text_blue {
    color:#69C5ED;
    font-size: 25px;
}

#images {
    margin-top: 30px;
}

.text {
    font-size: 22px;
}

.highlighted {
    background-color: yellow;
}

h2 {
    color:#868686;
}


#site_footer {
    color:white;
    font-size: 22px;
    

}

#image1 {
    background-image: url("../img/monitor.jpg");
    background-size: cover ;
    height: 250px;
    width: 400px;
    margin-bottom: 10px;
    padding: 10px;
}

#image2 {
    background-image: url("../img/graph.jpg");
    background-size: cover;
    height: 250px;
    width: 400px;
    padding: 10px;
}
